// Lysimachos place 


.d-centered-wraped-text {
font-size:12px;
overflow-x: auto;
word-wrap: break-word;
}

.test {
border:2px outset;
}

.d-wraped-text {
word-break: break-all;
white-space: normal;
    }