// Lysimachos place 

.d-mainscreen-left {
font-size:9px;
line-height: 11px;
}

.d-centered-wraped-text {
letter-spacing: 1px;
vertical-align: middle;
}

#d-mainscreen-tittle {

vertical-align: text-bottom;
    position: relative;
    right: 100%;
    width: 300%;
}

.d-mainscreen-right {
    float:right;
position:relative;
bottom: 10%;
}
