// Lysimachos place 

.d-mainscreen-left {
font-size:9px;
line-height: 11px;
}

.d-centered-wraped-text {
    font-size:12px;
    line-height:normal;
    white-space:normal;
    text-align:center;
    position:relative;
    up:10%;
}

#d-mainscreen-tittle {
letter-spacing: 1.5px;
white-space:normal;
text-align:justify;
}

#d-button{
position:relative;
bottom:inherit;
}


.d-pop-up   -menu{
    width:auto;
    height:auto;
    opacity: 0.6;
    filter: alpha(opacity=60);
}