<ion-popover-view>
   <ion-header-bar>
       <h1 class = "title">Search box</h1>
   </ion-header-bar>
   <ion-content>
     <div class="item item-input-inset">
       <label class="item-input-wrapper">
         <input type="text" placeholder="'city'...etc" ng-model="inputVal.text">
       </label>
     </div>
     <div>
       <ionic-datepicker>
         <button class="button icon-left ion-android-calendar
         button-block button-positive" ng-click="openDatePicker()">
          {{pickedDate | date:'dd - MMMM - yyyy'}}
        </button>
       </ionic-datepicker>
     </div>
     <div>
       <button class="button icon-right ion-android-search
       button-block button-positive" ng-click="passSearchParameters()">
        Search...
      </button>
     </div>

   </ion-content>
</ion-popover-view>
