<ion-view view-title="Articles">
	<ion-content>
		<div ng-repeat="article in vm.articles">
			<div class="list card">
				<div class="item item-divider">
					<div class="row">
   					<div class="col text-left">
                            <h2 class="test"> {{article.organizer}}</h2>
                            <p>{{article.location}}</p>
							<p>{{article.date}}</p>
						</div>
						<div class="col text-center">
							<h1 class="d-wraped-text"> {{article.title}} </h1>
						</div>
						<div class="col text-right">
							<button class="button button-icon icon ion-android-star-outline"> <!--ng-click="addFavorite(institution)" future click function-->
							</button>
						</div>
					</div>
  			</div>

				<div class="item item-body" ng-click="vm.navigate(article.id)">
					<img ng-src="{{article.logo}}">
        
					<p>{{article.about | limitTo: 180 }}{{article.about.length > 120 ? '...' : ''}}</p>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
