<ion-view view-title="Article">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-ios-upload-outline" ng-click="vm.share()"></button>
	</ion-nav-buttons>
	<ion-content has-header="true">
		<img ng-src="{{vm.article.logo}}" />
		<div class="content-inner">
			<h1>{{vm.article.title}}</h1>
			<div ng-bind-html="vm.article.about"></div>
			<p class="postby">{{vm.article.organizer}} 
				from {{vm.article.date_start}} to {{vm.article.date_end}} </p>
			<p class="categories">[{{vm.article.location}}] [{{vm.article.venue}}]</p>
			<p class="categories">[{{vm.article.link}}] [{{vm.article.link}}]</p
		</div>		
		<div ng-repeat="entry in vm.article.schedule">
			<a href="#" class="item-icon-right">
				<i class="icon ion-minus"></i>
			</a>
			<div class="list card">
				<div class="item item-divider">
					<div class="row">
						<div class="col text-left">
							<h2>{{entry.venue}}</h2>
						</div>
						<div class="col text-center">
							<h2> {{entry.title}}</h2>
							<p>{{entry.start_time}} - {{entry.end_time}}</p>
						</div>
						<div class="col text-right">
						</div>
					</div>
					<div class="item item-body">
						<!--img ng-src="{{entry.image}}"-->
						<h2>{{entry.speaker}}</h2>
						<p>{{entry.description | limitTo: 120 }}{{entry.description.length > 120 ? '...' : ''}}</p>
						<a href="{{entry.files}}">Related Files</a><br/>
					</div>
				</div>				
			</div>
		</div>			
	</ion-content>
</ion-view>
